html,
body {
  width: 100%;
  height: 100%;
  background-color: #494949;
}
p {
  color: #fff;
  font-family: Magra;
  font-size: 51px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
label {
  color: #fff;
  font-family: Magra;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h1 {
  color: #fff;
  font-family: Magra;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
::placeholder {
  color: #000;
  font-family: Magra;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title {
  display: flex;
  align-items: stretch;
  gap: 3rem;
}
.title input {
  border-radius: 11px;
  background: #a7a5a5;
  width: 302px;
  height: 44px;
  font-family: Magra;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}
my-listing {
  position: relative;
}
my-steps {
  position: relative;
}
button {
  color: #000;
  font-family: Magra;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 11px;
  border: 1px solid #000;
  background: #a7a5a5;
  height: 44px;
  cursor: pointer;
}
.container .top #closepage {
  background: none;
  border: none;
}
.container .top #closepage img {
  width: 32px;
  height: 32px;
}
#upload-btn {
  width: 150px;
}
#file-input {
  display: none;
}
#submit-btn {
  width: 140px;
}
#cancel-btn {
  width: 83px;
}
.finish-btn {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: #000000;
}
