html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #494949;
}

header {
  background-image: url(./shopping.jpg);
  width: auto;
  background-size: cover;
  height: 30%;
  background-position: center;
}

button {
  width: 135px;
  height: 38px;
}

.closeShopping {
  width: 20px;
  height: 20px;
}

img {
  width: 15px;
  height: 15px;
}
