html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #494949;
}

header {
  background-image: url(./shopping.jpg);
  width: auto;
  background-size: cover;
  height: 30%;
  background-position: center;
}
